@import '../../theme/variables';

.app {
  color: $color-1;
  height: 100%;
  box-sizing: border-box;
  .navbar{
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    .btns{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span{
        padding: 5px 0;
        @extend .borderAnimat;
        &:hover{
          &::after{
            transform: scaleX(1);
          }
        }
        a {
          color: $color-2;
          padding: 0 .5rem;
          margin:0 5px;
          text-decoration: none;
        }
      }
      
    }
  }
}