@import '../../theme/variables';

.home{
  box-sizing: border-box;
  border-top: 1px solid transparent;
  h1{
    width:100%;
    text-align: left;
    font-size: 2.6rem;
    padding-left: 8%;
  }
  .navbar{
    height: 5rem;
    padding: 0 5rem 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btns{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span{
        padding: 5px 0;
        @extend .borderAnimat;
        &:hover{
          &::after{
            transform: scaleX(1);
          }
        }
        a {
          color: $color-2;
          padding: 0 .5rem;
          margin:0 5px;
          text-decoration: none;
          font-size: 1.2rem;
        }
      }
    }
  }
  .pageBtns{
    padding: 5px 20px 5px 5px;
    width: 55%;
    margin: 0 auto;
    overflow: hidden;
    text-align: right;
    span{
      cursor: pointer;
      display:inline-block;
      color: $color-1;
      padding: 20px 10px 0 10px;
      font-size: 1.2rem;
    }
    .disable{
      color:$color-2;
      cursor: not-allowed;
      font-weight: 300;
    }
    .able{
      &:hover{
        color: $highlight-color-1;
      }
    }
  }
  .articleList{
    min-height: 35rem;
    .box{
      width: 55%;
      margin: 0 auto;
      border-top: 1px solid transparent;
      border-bottom: 1px solid $color-3;
      position: relative;
      cursor: pointer;
      .img{
        max-width: 45%;
        img{
          width: 100%;
        }
      }
      h2 {
        font-size: 1.7rem;
        margin: 5px 0 0 0;
        color: $color-1;
        font-weight: 500;
      }
      h3{
        font-size: 1.2rem;
        margin: 10px 0 0 0;
        color: $color-2;
        font-weight: 300;
      }
      span{
        color: $color-2;
        display: block;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: bold;
      }
      &:hover{
        h2{
          color: $highlight-color-1;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    h1{
      text-align: right;
      padding-left: 0;
      padding-right: 30px;
    }
    .pageBtns{
      width: 100%;
      padding: .5rem;
    }
    .navbar{
      padding: .5rem;
    }
    .articleList{
      padding: 0 10px;
      .box{
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}