@import '../../theme/variables';

.tags {
  height: 100%;
  padding-top: 10rem;
  .homelink{
    position: absolute;
    right: 0;
    top: 4rem;
    width: 100%;
    text-align: right;
    padding-right: 4rem;
  }
  .content{
    width: 60%;
    margin: auto;
    text-align: center;
    span{
      padding: 3px 5px;
      display: inline-block;
      cursor: pointer;
      @extend .borderAnimat;
      color: $color-2;
      &:hover{
        &::after{
          transform: scaleX(1);
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .content{
      width: 100%;
      padding: 1rem 3rem 2rem 3rem;
    }
  }
}