@import '../../theme/variables';
.homeLink{
  color: $color-1;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.3;
  transition: opacity  .5s ease-in;
  &:hover{
    opacity:1;
  }
  @media screen and (max-width: 768px){
    opacity: .8;
  }
}