@import '../../theme/variables';

.profile {
  .header{
    height: 12rem;
    padding-top: 4rem;
    box-sizing: border-box;
    text-align: right;
    padding-right: 10rem;
  }
  .content{
    margin: auto;
    width: 40%;
    :global{
      h5{
        margin: 0;
        line-height: 1.8;
        font-size: 1.3rem;
      }
    }
  }
  :global{
    color: $highlight-color-1; 
  }
}