@import '../../theme/variables';

.select{
  padding: 15px 0;
  :global{
    .rc-select{
      width: 100%;
    }
    .rc-select-selection__choice{
      font-size: 12px;
    }
    .rc-select-selection__placeholder {
      font-size: 13px;
    }
    .rc-select-focused .rc-select-selection {
      border-color: $highlight-color-1 !important;
      box-shadow: 0 0 2px $highlight-color-1 !important;
    }
    .rc-select-selection {
      &:hover {
        border-color: $highlight-color-1 !important;
        box-shadow: 0 0 2px $highlight-color-1 !important;
      }
      &:active {
        border-color: $highlight-color-1 !important;
      }
    }
  }
}