{
  "extends": "react-app",
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "no-console": 0,
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "max-len": [
      2,
      120
    ],
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "space-before-function-paren": [
      2,
      "always"
    ],
    "no-unused-expressions": [
      2,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "arrow-body-style": [
      0,
      "never"
    ],
    "func-names": 0,
    "prefer-const": 0,
    "no-extend-native": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-eval": 2,
    "no-continue": 0,
    "react/jsx-no-bind": [
      2,
      {
        "ignoreRefs": true
      }
    ],
    "no-unused-vars": [
      2,
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-underscore-dangle": 0,
    "global-require": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "jsx-a11y/href-no-hash": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/no-danger": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-mixed-operators": 0,
    "jsx-a11y/label-has-for": 0,
    "no-plusplus": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-infix-ops": [
      2,
      {
        "int32Hint": false
      }
    ],
    "no-undef": 2,
    "quotes": [
      2,
      "single"
    ],
    "jsx-quotes": [
      2,
      "prefer-double"
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": "node"
  }
}