@import '../../theme/variables';

.editorPage{
  padding: 20px 0;
  .editor{
    width: 55%;
    min-height: 24rem;
    margin-left: 10%;
    padding-top: 20px;
  }
  .form{
    position: fixed;
    width: 25%;
    top: 20px;
    right: 5%;
  }
}
.saveForm{
  width: 100%;
  background-color: $white;
  padding: 1rem 1.5rem;
  .inputWrap{
    margin-top: .5rem;
  }
  .textAreaWrap {
    height: 7em;
    margin-top: 1rem;
  }
  .submit{
    margin-top: .5rem;
    text-align: center;
    display: flex;
    align-items: center;
    .submitBtn{
      width: 70%;
      padding: .6rem 0;
      background-color: $highlight-color-1;
      color: $color-3;
      border-radius: 2px;
      cursor: pointer;
      &:hover{
        color:$white;
        border-radius: 5px;
      }
    }
    .checkBox{
      width: 30%;
      text-align: center;
    }
  }
  
  .uploadLogo{
    padding: 10px 0 0 0;
    cursor: pointer;
    & > div{
      width: 100%;
      height: 4rem;
      i{
        font-size: 25px;
        font-weight: bold;
      }
    }
    .upload{
      background-color: #f7f7f7;
      line-height: 4rem;
      text-align: center;
      &:hover{
        background-color: $highlight-color-1;
        i{
          color: #f7f7f7;
        }
      }
    }
  }
}