@import '../../theme/variables';

.editorPage{
  padding: 20px 0 20px 15%;
  .editor{
    width: 55%;
  }
  .form{
    position: fixed;
    width: 25%;
    top: 20px;
    right: 5%;
  }
}
.saveForm{
  width: 100%;
  background-color: $white;
  padding: 1rem 1.5rem;
  .inputWrap{
    margin-top: .5rem;
  }
  .textAreaWrap {
    height: 7em;
    margin-top: 1rem;
  }
  .btn {
    margin-top: .5rem;
    text-align: center;
    padding: .6rem 0;
    background-color: $highlight-color-1;
    color: $color-3;
    border-radius: 2px;
    cursor: pointer;
    &:hover{
      color:$white;
      border-radius: 5px;
    }
  }
  .uploadLogo{
    padding: 10px 0 0 0;
    & > div{
      width: 100%;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      i{
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
         &:hover{
          color: $highlight-color-1;
        }
      }
    }
    .upload{
      background-color: #f7f7f7;
      box-sizing: border-box;
      border: 1px solid transparent;
      &:hover{
        border: 1px solid $highlight-color-1;
      }
    }
  }
}